.productWrap {
  box-sizing: border-box;
  padding: 20px;
  height: 575px;
  width: 335px;
  border: 1px solid #dbdbdb;
  margin-left: -1px;
  margin-top: -1px;
  text-align: left;
}

.markLabel {
  background-color: #dbdbdb;
  padding: 6px 24px;
  font-size: 14px;
  color: #848484;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 10px;
}

.productName {
  cursor: pointer;
  text-decoration: underline #bababa;
  font-size: 17px;

  &:hover {
    text-decoration: none;
  }
}

.productInfoWrap {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.reviews {
  transition: all .3s;
  font-size: 13px;
  color: #bababa;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    color: #ff8600;
  }
}

.noReviews {
  @extend .reviews;
  pointer-events: none;
}

.availableAmount {
  font-size: 12px;
  color: #757575;
}

.rateWrap {
  display: flex;
}

.productImgWrap {
  height: 215px;
  width: 100%;
  background-color: #fff;

  img {
    height: 225px;
    width: 100%;
    object-fit: scale-down;
  }
}

.labelsWrap {
  position: absolute;
  width: 54px;
  display: flex;
  top: 10px;
  flex-direction: column;
}

.labelWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;

  img {
    margin-bottom: 5px;
  }
}

.productBaseInfoWrap {
  position: relative;
}

.labelDescr {
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  color: #91959a;
}

.productPriceWrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.currentPrice {
  color: #3b3b3b;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;

  span {
    text-transform: uppercase;
    font-size: 18px;
  }
}

.oldPrice {
  font-size: 16px;
  color: #989898;
  font-weight: bold;
  font-style: italic;
  text-decoration: line-through #e00000;

  span {
    text-transform: uppercase;
  }
}

.buyBtn {
  margin: 25px auto 15px;
  display: flex;
  align-items: center;
  border: none;
  transition: all .3s;
  height: 50px;
  cursor: pointer;
  color: #fff;
  padding: 0 37px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to right, #ff8500 0%, #ffae00 100%);
}

.buyBtn:hover {
  background: linear-gradient(to right, #d36e00 0%, #e59100 100%);
}

.cartIcon {
  margin-right: 15px;
}

.stickersWrap {
  display: flex;
  justify-content: center;
  position: relative;
}

.optionsIn {
  color: #3b3b3b;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: underline;
  font-size: 14px;

  img {
    margin-right: 5px;
  }

  &:hover {
    color: #ff8900;
  }
}

.optionsWrap {
  display: flex;
  justify-content: space-between;
}

//mobile-version

@media (max-width: 670px) {
  .productWrap {
    width: 300px;
    padding: 10px;
  }

}

